{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="container">
    <div id="game">
        <header>
            <h1 class="title">LOG IN</h1>
        </header>
        <div>
            <form name="login" action="{% url 'accounts:api_login' %}" method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <br>
                <input type="submit" value="login">
            </form>
        </div>
    </div>
</div>
<!-- <script type="text/javascript" src="{% static 'js/wordle.js' %}"> </script> -->
{% endblock %}