{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="container">
    <div id="game">
        <header>
            <h1 class="title">LOG IN</h1>
        </header>
        <div>
            <form name="login" action="{% url 'accounts:api_login' %}" method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <br>
                <button type="submit" class="button" value="LogIn">Log In</button>

                <a id="btn-signup" class="button" href="{% url 'accounts:signup' %}">Sign Up</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}