{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/town.css' %}">
    <title>Town</title>
</head>
<body>
    
    <canvas id="canvas"></canvas>
    <!-- <iframe id="overlay" src="../overlay.html"></iframe> -->
    <!-- <iframe id="overlay" src="http://127.0.0.1:8000/wordle/"></iframe> -->
    <!-- <iframe class="overlay" id="wordle" src="/wordle/"></iframe> -->
    
    <!-- <script src="town.js"></script> -->
    <script>
        
        var imgCharactorIdle = "{% static 'img/charactor/charactor_idle(128x64).png' %}";        
        
        var imgCharactorWalk = "{% static 'img/charactor/charactor_walking(192x64).png' %}";        
        // var imgCharactorWalk = "{% static 'img/charactor/Walking (32 x 32).png' %}";        
        var imgCharactorRun = "{% static 'img/charactor/charactor_running(256x64).png' %}";
        
        var imgBackgroundNight1 = "{% static 'img/background/1.png' %}";
        var imgBackgroundNight2 = "{% static 'img/background/2.png' %}";
        var imgBackgroundNight3 = "{% static 'img/background/3.png' %}";
        var imgBackgroundNight4 = "{% static 'img/background/4.png' %}";
        var imgBackgroundNight5 = "{% static 'img/background/5.png' %}";
        
        var imgTileMedieval = "{% static 'img/tiles/Medieval_tiles_free2_0.png' %}";
        
        var imgObjBoard = "{% static 'img/tiles/billboard(256x96).png' %}";

        var imgObjCommand = "{% static 'img/tiles/commands(128x32).png' %}"
        
    </script>
    <script type="text/javascript" src="{% static 'js/camera.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/board.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/command.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charactor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/background.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/info.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/town.js' %}"></script>
    
    <p id="charactor-pos"></p>
</body>
</html>