{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/town.css' %}">
    <title>Town</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <!-- <script src="town.js"></script> -->
    <script>
        var imgCharactorIdle = "{% static 'img/charactor/Idle (32 x 32).png' %}";
        var imgCharactorRunning = "{% static 'img/charactor/Running (32 x 32).png' %}";
        var imgBackgroundWater1 = "{% static 'img/background/1 - Waters_version_1.png' %}";
        var imgBackgroundWater2 = "{% static 'img/background/2 - Waters_version_2.png' %}";
        var imgBackgroundCloud1 = "{% static 'img/background/3 - Floating_clouds.png' %}";
        var imgBackgroundCloud2 = "{% static 'img/background/4 - Background_clouds.png' %}";
        var imgBackgroundSky = "{% static 'img/background/5 - Sky_color.png' %}";
        var imgTileTerrain = "{% static 'img/tiles/Terrain (16 x 16).png' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/charactor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/background.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/town.js' %}"></script>
    
</body>
</html>